@model List<OnlineShopWebApp.Models.ShopUser>

@{
    ViewData["Title"] = "Список пользователей";
    int i = 1;
}

@if (Model == null || Model.Count == 0)
{
    <h3>Список пользователей пуст!</h3>
    <a class="btn btn-primary" asp-controller="User" asp-action="Add">Добавить пользователя</a>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                @await Html.PartialAsync("AdminMenu")
            </div>
            <div class="col-9">
                <h3>Список пользователей</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Email</th>
                            <th scope="col">Роль</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    @foreach (var user in Model)
                    {
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">@i</th>
                                <td><a asp-controller="User" asp-action="Details" asp-route-email="@user.Email">@user.Email</a></td>
                                <td>@user.Role</td>
                                <td><a class="btn btn-primary" asp-controller="User" asp-action="Details" asp-route-email="@user.Email">Подробнее</a></td>
                                <td>
                                    <a class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#modal-delete-user">
                                        Удалить
                                    </a>
                                    <div class="modal fade" id="modal-delete-user" tabindex="-1" aria-labelledby="DeleteUserModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="DeleteUserModalLabel">Подтвердите операцию удаления</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы действительно хотите удалить пользователя '<strong>@user.Email</strong>'?
                                                </div>
                                                <div class="modal-footer">
                                                    <button asp-controller="User" asp-action="GetUsers" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                                    <a asp-area="Administrator" asp-controller="User" asp-action="Delete" asp-route-email="@user.Email" type="button" class="btn btn-primary">Да</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        i++;
                    }
                </table>
                <a class="btn btn-primary" asp-controller="User" asp-action="Add">Добавить пользователя</a>
            </div>
        </div>
    </div>
}
