@model List<User>

@{
    ViewData["Title"] = "Список пользователей";
    int i = 1;
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("AdminMenu")
        </div>
        <div class="col-md-9">
            @if (Model == null || Model.Count == 0)
            {
                <h3>Список пользователей пуст!</h3>
                <div class="text-start mt-3 cart-buttons">
                    <div><a role="button" class="btn btn-warning float-start" asp-controller="User" asp-action="Add">Добавить пользователя</a></div>
                </div>
            }
            else
            {
                <h3 class="section-title mb-3"><span>Список пользователей</span></h3>
                <div class="text-end mt-3 cart-buttons">
                    <a role="button" class="btn btn-warning float-end mb-3 p-2" asp-controller="User" asp-action="Add">Добавить пользователя</a>
                </div>
                <table class="table align-middle text-center table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">UserName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Роли</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    @foreach (var user in Model)
                    {
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">@i</th>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.Role</td>
                                <td><a class="btn primary-color" asp-controller="User" asp-action="Details" asp-route-email="@user.Email">
                                        <i class="fa-solid fa-pen-to-square h5"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn red" data-bs-toggle="modal" data-bs-target="#modal-delete-user-@user.Id">
                                        <i class="fa-regular fa-trash-can h5"></i>
                                     </a>
                                    <div class="modal fade" id="modal-delete-user-@user.Id" tabindex="-1" aria-labelledby="DeleteUserModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="DeleteUserModalLabel">Подтвердите операцию удаления</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Вы действительно хотите удалить пользователя '<strong>@user.Email</strong>'?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                                    <a asp-area="Administrator" asp-controller="User" asp-action="Delete" asp-route-email="@user.Email" type="button" class="btn btn-primary">Да</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        i++;
                    }
                </table> 
            }
        </div>
    </div>
</div>
