@model List<Product>

@{
    ViewData["Title"] = "Редактирование продукта";
}

<div class="row">
    <div class="col-3">
        @await Html.PartialAsync("AdminMenu")
    </div>
    <div class="col-9">
        <h3>Список продуктов</h3>
        <p><a asp-controller="Administrator" asp-action="AddProduct">Добавить новый продукт</a></p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @foreach (var product in Model)
            {
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Name</td>
                        <td>@product.Cost</td>
                        <td><a asp-controller="Administrator" asp-action="EditProduct" asp-route-productid="@product.Id">Редактировать</a></td>
                        <td><a asp-controller="Administrator" asp-action="DeleteProduct" asp-route-productid="@product.Id">Удалить</a></td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>